.vs/*
DataShopEntityFramework/bin/*
DataShopEntityFramework/obj/*
DataShopEntityFramework/bin/Debug/*
DataShopEntityFramework/obj/Debug/*

ServerApplication/bin/*
ServerApplication/obj/*
ServerApplication/bin/Debug/*
ServerApplication/obj/Debug/*

appsettings.Development.json

BVPMInternetShop.sln.DotSettings.user
